@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
.container {
    background: url(assets/images/Vector.svg);
    width: 216px;
    height: 107px;
    margin: auto;
}

.label-wrapper {
    width: 92px;
    height: 15px;
    display: flex; 
    padding-bottom: 4px;
    margin-top: 14px;
    margin-left: 30px;
    border-bottom: 1px solid #f0f0f0;
}

.label {
    font-size: 13px;
    font-weight: 300;
    color: #5e5e5e;
   
}

#timer {
    color: #333;
    font-size: 29px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.date {
    font-size: 10px;
    font-weight: 300;
    color: #5d5d5d;
}

.counter {
    display: flex;
    margin-left: 28px;
    margin-top: 6px;
}

.counter-wrapper {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}